<section class="vink-section" id="books">
  <h3><a href="/books">Books</a></h3>
  
  <ul class="vink-list" id="book-list">
    {% for book in books %}
      <li class='vink book'>
        <strong>Author:</strong> {{ book.author }}
        <br> 
        <strong>Title:</strong> {{ book.title}} ({{ book.year }})
        <br>
          <form action="{{ url_for('delete') }}" method="POST">
            <input type="hidden" name="book.id" value="{{ book.id }}" />
            <input type="submit" class="remove-button" value="Delete" />
          </form>
      </li>
    {% endfor %}
  </ul>
</section>