{% import 'macros.html' as macros %}

{% set url = url_for(request.endpoint) %}

<form action="{{ url }}" method="POST">
  <label for="title">Title</label>
  {{ macros.input('title') }}
  <br>
  {% if url == '/weblinks' or url == '/' %}
    <label for="url">Url</label>
    {{ macros.input('url') }}
    <br>
  {% endif %}
  {% if url == '/podcasts' or url == '/books' %}
    <label for="author">Author</label>
    {{ macros.input('author') }}
    <br>
  {% endif %}
  {% if url == '/books' %}
    <label for="year">Publication year</label>
    {{ macros.input('year') }}
    <br>
  {% endif %}
  <input type="submit" name="submit" id="submit" value="Add">
</form>