<section class="vink-section" id="weblinks">
  <h3><a href="/weblinks">Weblinks</a></h3>
  <ul class="vink-list" id="weblink-list">
    {% for weblink in weblinks %}
      <li class="vink weblink">
        <strong>Title:</strong> {{ weblink.title }}
        <br>
        <strong>URL:</strong> <a href="{{ weblink.url }}">{{ weblink.url }}</a>
        <br>
        <form action="/weblinks/{{ weblink.id }}" method="DELETE">
          <input type="submit" name="submit" value="Remove link" class="button remove-button"/>
        </form>
      </li>
    {% endfor %}
  </ul>
</section>