<section class="vink-section" id="weblinks">
  <h3><a href="/weblinks">Weblinks</a></h3>
  <ul class="vink-list" id="weblink-list">
    {% for weblink in weblinks %}
    <li class="vink weblink">
      <strong>Title:</strong> {{ weblink.title }} 
      <br>
      <strong>URL:</strong> <a href="{{ weblink.url }}">{{ weblink.url }}</a>
      <br>
        <form action="{{ url_for('delete') }}" method="POST">
          <input type="hidden" name="weblink.id" value="{{ weblink.id }}">
          <input type="submit" value="Delete" />
        </form>
    </li>    
    {% endfor %} 
  </ul>
</section>

