* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
}

header {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  background-color: darkgreen;
}

header h1 {
  padding: 10px;
}

header a {
  text-decoration: none;
  color: black;
}

.vink-section {
  padding: 1em;
}

.vink-section a {
  text-decoration: underline;
  color: black;
}

.vink-section h3 {
  padding: 1rem;
}

.vink-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.vink {
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,60%);
  margin: 8px;
  padding: 5px;
}

.button {
  border: 1px black solid;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}

.remove-button:hover {
  background-color: rgb(189, 20, 20);
  color: white;
}

.vink-input {
  margin: 5px;
  background-color: white;
}

#vink-form {
  padding: 10px 50px;
  margin: 10px;
  border: 1px solid black;
}